<% title(@guild.name, "Guilds") %>

<h1><%= @guild.name %></h1>
<h2><%= @guild.game %></h2>
<p><%= @guild.server %></p>
<p><%= @guild.affiliation %></p>
<ul>
  <% if policy(@guild).update? %>
    <li><%= link_to "Edit Guild", edit_guild_path(@guild) %></li>
  <% end %>
</ul>
<ul>
<% admins_only do %>
  <li><%= link_to "Delete Guild",admin_guild_path(@guild),method: :delete,
    data: { confirm: "Are you sure you want to delete this guild?" }%></li>
<% end %>
</ul>
