<%= form_for [:admin, user] do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <%= f.check_box(:admin) %>
  <%= f.label(:admin, "Is an admin?") %>

<h2>Roles</h2>

<table>
  <% guilds.each do |guild| %>
    <tr>
      <th><%= label_tag dom_id(guild), guild.name %></th>
      <td>
        <%= select_tag dom_id(guild), options_for_select(roles,
        user.role_on(guild)), name: "roles[#{guild.id}]",
        include_blank: true %>
      </td>
    </tr>
  <% end %>
</table>

  <%= f.submit %>
<% end %>



