<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Vestige
      <% end %>
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main">
      <nav>
        <div class="navbar">
          <div class="navbar-left">
            <ul>
              <li><%= link_to "Vestige", root_path, :class => 'logo' %></li>
              <% admins_only do %>
                <li><%= link_to "Admin", admin_root_path %></li>
              <% end %>
              <% unless user_signed_in? %>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
          <% if user_signed_in? %>
            <div class="navbar-right">
              <p>Signed in as <%= current_user.email %></p>
            <% end %>
            <ul>
              <li><%= link_to "Sign out", destroy_user_session_path,
                method: :delete %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% flash.each do |key, message| %>
        <div><%= message %></div>
      <% end %>

        <%= yield %>
      </div>
    </body>
  </html>
